<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <!-- three.js library -->
    <script src="../js/three.js/three.min.js"></script>
    <!-- ar.js -->
    <script src="../js/ar.js/ar.js"></script>
    <script>
      THREEx.ArToolkitContext.baseURL = "../";
    </script>
    <title>Marker Tracking AR.js (template)</title>
  </head>
  <body style="margin: 0px; overflow: hidden;">
    <script>
      //////////////////////////////////////////////////////////////////////////////////
      //		Init
      //////////////////////////////////////////////////////////////////////////////////

      // init renderer
      let renderer = new THREE.WebGLRenderer({
        antialias: true,
        alpha: true,
      });
      renderer.setClearColor(new THREE.Color("lightgrey"), 0);
      renderer.setSize(640, 480);
      renderer.domElement.style.position = "absolute";
      renderer.domElement.style.top = "0px";
      renderer.domElement.style.left = "0px";
      document.body.appendChild(renderer.domElement);

      // array of functions for the rendering loop
      let onRenderFcts = [];

      // init scene and camera
      let scene = new THREE.Scene();

      //////////////////////////////////////////////////////////////////////////////////
      //		Initialize a basic camera
      //////////////////////////////////////////////////////////////////////////////////

      // Create a camera
      let camera = new THREE.Camera();
      scene.add(camera);

      ////////////////////////////////////////////////////////////////////////////////
      //          handle arToolkitSource
      ////////////////////////////////////////////////////////////////////////////////

      let arToolkitSource = new THREEx.ArToolkitSource({
        // type of source - ['webcam', 'image', 'video']
        sourceType: "webcam",

        // // to read from an image
        // sourceType : 'image',
        // sourceUrl : THREEx.ArToolkitContext.baseURL + '../data/images/img.jpg',

        // to read from a video
        // sourceType : 'video',
        // sourceUrl : THREEx.ArToolkitContext.baseURL + '../data/videos/headtracking.mp4',

        // // resolution of at which we initialize the source image
        // sourceWidth: 640,
        // sourceHeight: 480,
        // // resolution displayed for the source
        // displayWidth: 640,
        // displayHeight: 480,
      });

      arToolkitSource.init(function onReady() {
        setTimeout(() => {
          onResize();
        }, 1000);
      });

      // handle resize
      window.addEventListener("resize", function () {
        onResize();
      });

      function onResize() {
        arToolkitSource.onResizeElement();
        arToolkitSource.copyElementSizeTo(renderer.domElement);
        if (arToolkitContext.arController !== null) {
          arToolkitSource.copyElementSizeTo(
            arToolkitContext.arController.canvas
          );
        }
      }
      ////////////////////////////////////////////////////////////////////////////////
      //          initialize arToolkitContext
      ////////////////////////////////////////////////////////////////////////////////

      // create atToolkitContext
      let arToolkitContext = new THREEx.ArToolkitContext({
        // debug - true if one should display artoolkit debug canvas, false otherwise
        debug: false,

        // the mode of detection - ['color', 'color_and_matrix', 'mono', 'mono_and_matrix']
        detectionMode: "mono",

        // type of matrix code - valid iif detectionMode end with 'matrix' - [3x3, 3x3_HAMMING63, 3x3_PARITY65, 4x4, 4x4_BCH_13_9_3, 4x4_BCH_13_5_5]
        // matrixCodeType: "3x3",

        // Pattern ratio for custom markers
        patternRatio: 0.5,

        // Labeling mode for markers - ['black_region', 'white_region']
        // black_region: Black bordered markers on a white background, white_region: White bordered markers on a black background
        // labelingMode: "black_region",

        // url of the camera parameters
        cameraParametersUrl:
          THREEx.ArToolkitContext.baseURL + "../data/data/camera_para.dat",

        // tune the maximum rate of pose detection in the source image
        // maxDetectionRate: 60,

        // resolution of at which we detect pose in the source image
        // canvasWidth: 640,
        // canvasHeight: 480,

        // enable image smoothing or not for canvas copy - default to true
        // https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/imageSmoothingEnabled
        imageSmoothingEnabled: true,
      });
      // initialize it
      arToolkitContext.init(function onCompleted() {
        // copy projection matrix to camera
        camera.projectionMatrix.copy(arToolkitContext.getProjectionMatrix());
      });

      // update artoolkit on every frame
      onRenderFcts.push(function () {
        if (arToolkitSource.ready === false) return;

        arToolkitContext.update(arToolkitSource.domElement);

        // update scene.visible if the marker is seen
        scene.visible = camera.visible;
      });

      ////////////////////////////////////////////////////////////////////////////////
      //          Create a ArMarkerControls
      ////////////////////////////////////////////////////////////////////////////////

      // init controls for camera
      let markerControls = new THREEx.ArMarkerControls(
        arToolkitContext,
        camera,
        {
          // size of the marker in meter
          size: 1,

          // type of marker - ['pattern', 'barcode', 'unknown' ]
          type: "pattern",

          // url of the pattern - IIF type='pattern'
          patternUrl:
            THREEx.ArToolkitContext.baseURL + "../data/data/pattern-hiro.patt",

          // value of the barcode - IIF type='barcode'
          // barcodeValue: null,

          // change matrix mode - [modelViewMatrix, cameraTransformMatrix]
          changeMatrixMode: "cameraTransformMatrix",

          // turn on/off camera smoothing
          // smooth: true,

          // number of matrices to smooth tracking over, more = smoother but slower follow
          // smoothCount: 5,

          // distance tolerance for smoothing, if smoothThreshold # of matrices are under tolerance, tracking will stay still
          // smoothTolerance: 0.01,

          // threshold for smoothing, will keep still unless enough matrices are over tolerance
          // smoothThreshold: 2,
        }
      );
      // as we do changeMatrixMode: 'cameraTransformMatrix', start with invisible scene
      scene.visible = false;

      //////////////////////////////////////////////////////////////////////////////////
      //		add an object in the scene
      //////////////////////////////////////////////////////////////////////////////////

      // add a torus knot
      let geometry = new THREE.CubeGeometry(1, 1, 1);
      let material = new THREE.MeshNormalMaterial({
        transparent: true,
        opacity: 0.5,
        side: THREE.DoubleSide,
      });
      let mesh = new THREE.Mesh(geometry, material);
      mesh.position.z = geometry.parameters.height / 2;
      scene.add(mesh);

      geometry = new THREE.TorusKnotGeometry(0.3, 0.1, 64, 16);
      material = new THREE.MeshNormalMaterial();
      mesh = new THREE.Mesh(geometry, material);
      mesh.position.z = 0.5;
      scene.add(mesh);

      onRenderFcts.push(function (delta) {
        mesh.rotation.x += Math.PI * delta;
      });

      //////////////////////////////////////////////////////////////////////////////////
      //		render the whole thing on the page
      //////////////////////////////////////////////////////////////////////////////////

      // render the scene
      onRenderFcts.push(function () {
        renderer.render(scene, camera);
      });

      // run the rendering loop
      let lastTimeMsec = null;
      requestAnimationFrame(function animate(nowMsec) {
        // keep looping
        requestAnimationFrame(animate);
        // measure time
        lastTimeMsec = lastTimeMsec || nowMsec - 1000 / 60;
        let deltaMsec = Math.min(200, nowMsec - lastTimeMsec);
        lastTimeMsec = nowMsec;
        // call each update function
        onRenderFcts.forEach(function (onRenderFct) {
          onRenderFct(deltaMsec / 1000, nowMsec / 1000);
        });
      });
    </script>
  </body>
</html>
